<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head lang="en">
    <meta charset="UTF-8">
    <title>Spring Core online Tutorial</title>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script
            src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!--    <link href="https://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--          th:href="@{/webjars/org.webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
<!--    <script src="https://cdn.jsdelivr.net/webjars/org.webjars/jquery/3.4.1/jquery.min.js" th:src="@{/webjars/org.webjars/jquery/3.4.1/jquery.min.js}"> </script>-->
<!--    <link href="../static/css/spring-core.css" th:src="@{css/spring-core.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
<div class="container">
    <h1>Hello World</h1>
    <p> This is my Thymeleaf index page</p>
    <p>A new change begins now</p>
</div>
</body>
</html>

